@use './assets/styles/variables.scss' as v;

.App {
  text-align: center;
  background: v.$bgColor;
  width: 100%;
  min-height: 100vh;
  
  &__header {
    padding: 30px;
  }

  &__cards {
    max-width:645px;
    gap:15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
